* {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(70, 70, 70);
}

h1 {
    margin: 15px 0px 25px 0px;
}

body {
    /* background-image: url(loginBG.png);
    background-repeat: no-repeat;
    background-size: cover; */
    background-color: rgb(230, 230, 230);
}

.container {
    box-shadow: 10px 10px 20px rgb(92, 92, 92);
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 500px;
    border-radius: 15px;
    border: 1px solid rgb(200, 200, 200);
    background-color: rgb(255, 255, 255);
    margin: 100px auto;
}
.link{
    margin: 20px;
}

input {
    padding: 10px;
    text-align: left;
    height: 20px;
    width: 270px;
    margin: 10px;
    border-radius: 10px;
    border: 0.5px solid rgb(200, 200, 200);
}

button {
    padding: 10px;
    box-shadow: 5px 5px 5px rgb(200, 200, 200);
    width: 290px;
    border-radius: 10px;
    padding: 10px;
    margin: 10px 0px 10px 0px;
}

button:hover {
    cursor: pointer;
}

button:active {
    cursor: pointer;
    box-shadow: 2px 2px 2px rgb(200, 200, 200);
}

.login-btn {
    color: rgb(240, 240, 240);
    background-color: rgb(44, 44, 44);
}
.login-btn:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(48, 48, 48);
    text-decoration: none;
}

.login-btn:active {
    background-color: rgb(40, 40, 40);
}

.google-btn:active {
    background-color: rgb(250, 250, 250);
    text-decoration: none;
}
.google-btn:hover {
    text-decoration: underline;
}

.google-btn {
    border: 1px solid rgb(200, 200, 200);
    background-color: rgb(255, 255, 255);
}

a {
    color: rgb(0, 102, 192);
    margin: 5px;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.google-btn img {
    margin: 0px 10px;
    width: 15px;
}

.hr-text {
    line-height: 1em;
    position: relative;
    outline: 0;
    border: 0;
    color: black;
    text-align: center;
    height: 1.5em;
    opacity: 0.5;

    &:before {
        content: '';
        background: linear-gradient(to right, transparent, #818078, transparent);
        position: absolute;
        left: 0;
        top: 50%;
        width: 100%;
        height: 1px;
    }

    &:after {
        content: attr(data-content);
        position: relative;
        display: inline-block;
        color: black;

        padding: 0 0.5em;
        line-height: 1.5em;
        color: #818078;
        background-color: rgb(255, 255, 255);
    }
}
